<div class="header-slim-container">
  <div class="header-slim">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>

      <div class="header-links">
        <a class="link" href="{% link about.html %}">About Me</a>
        <a class="link" href="{% link contact.html %}">Contact</a>
        <a class="link" href="{% link faq.html %}">FAQ</a>
        <a class="link" href="{% link reference.html %}">Reference</a>
        <a class="link" href="{% link courses.html %}">Courses</a>
      </div>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
  </div>

</div>
